[project]
	description = test repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rewindme (rewindme)
[access "refs/for/refs/*"]
	read = group user/rewindme (rewindme)
	push = group user/rewindme (rewindme)
	label-Code-Review = -2..+2 group user/rewindme (rewindme)
	label-Verified = -1..+1 group user/rewindme (rewindme)
	rebase = group user/rewindme (rewindme)
	removeReviewer = group user/rewindme (rewindme)
	submit = group user/rewindme (rewindme)
[access "refs/heads/*"]
	read = group user/rewindme (rewindme)
	create = group user/rewindme (rewindme)
	push = +force group user/rewindme (rewindme)
	pushMerge = group user/rewindme (rewindme)
[access "refs/tags/*"]
	push = +force group user/rewindme (rewindme)
	pushTag = group user/rewindme (rewindme)
	pushSignedTag = group user/rewindme (rewindme)
